* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

.tituloColabora {
  font-weight: bold;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  font-family: "Roboto Slab", serif;
  font-size: 36px;
}

.cuadrados {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}

.cuadrados img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.colabora_imgArriba {
  margin-bottom: 10rem;
}
