.imagenDeFondo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./img/foto_perro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1349px;
    height: 548px;
}
.tituloQuienesSomos{
    width: 657px;
    height: 76px;
    text-align: center;
    color: #FFFFFF;
    font-family: "Roboto Slab", serif;
    font-size: 36px;
}
.contenedor{
    display: flex;
    flex-direction: row-reverse;
    justify-content:  space-evenly;
    padding: 20px;
    gap: 20px;
}
.texto{
    flex: 1;
    margin-bottom: 10px;
    max-width: 50%
}
.imagenes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
}
.foto{
    width: 150px; 
    height: auto;
}
.sobre{
    color: #000000;
    font-family: "Roboto Slab", serif;
    font-size: 36px;
}
.nosotros{
    color: #A14CAF;
    font-family: "Roboto Slab", serif;
    font-size: 36px;
}
.texto{
    font-family: "Poppins", sans-serif;
    font-size:  24px;
}