.footer{
    background-color: #F6E75E;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.tituloFooter{
    font-family: "Roboto Slab", serif;
}
.textoFooter{
    font-family: "Poppins", sans-serif;
}